/* Colors */

/* Base Colors */
$base-primary: #102654;
$base-secondary: #103aae;
$base-white: #ffffff;

/* Alt Colors */
$primary-lighter: #1c3374;
$tab-states: #d10a42;
$error: #ff121f;

/* Background Colors */
$primary-bg: #f8f9fc;
$accent-bg: #ed0233;
$dark: #030a1a;

/* Fonts */
$font-family: "Roboto Condensed", "Arial", sans-serif;
$second-family: "Alumni Sans", "Arial", sans-serif;

/*  @Media */
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1366px;

/* Padding Container */
$mobile-pd-container: 15px;
$tablet-pd-container: 45px;
$desktop-pd-container: 103px;
